<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>管理系统</title>
        <!--media 指定当前屏幕，当最大宽度不超过650时引入这个css-->
        <link  href="css/style_main_narrow.css" type="text/css" rel="stylesheet" media="only screen and (max-width:650px)"/>
        <!--media 指定当前屏幕，当最小宽度超过650时引入这个css-->
        <link  href="css/style_main.css" type="text/css" rel="stylesheet" media="only screen and (min-width:650px)"/>
        <link rel="icon" type="image/x-icon" href="img/favicon.ico">
        <script type="text/javascript"  src="js/main.js"></script>
    </head>
    <main>
        <body>
            <div class="upper_box" id="main_upper">
                <img src="img/favicon.ico" class="img_in_upper" id="favicon">
                <label class="title" id="upper_title">用户管理系统</label>
                <img src="img/patrick.png" class="img_in_upper" id="patrick">
            </div>
            <div class="main_box">
                <div class="left_menu">
                    <div class="back_btn"
                         onclick="window.location.href='/login#'">
                        主页
                    </div>
                    <div>
                        <div class="item">
                            <div id="i1" class="header">风格切换 </div>
                            <div class="menu_list">
                                <a class="item" href="#" onclick=loadjscssfile('css/change_to_red.css','css')>红色</a>
                                <a class="item" href="" onclick=loadjscssfile('css/change_to_blue.css','css')> 蓝色</a>
                            </div>
                        </div>
                        <div class="item">
                            <div id="i2" class="header">用户管理</div>
                            <div class="menu_list">
                                <a class="item" th:href="@{/main/userinfo}">个人资料</a>
                                <a class="item" th:href="@{/main/change_pass}">修改密码</a>
                            </div>
                        </div>
                        <div class="item">
                            <div id="i3" class="header" >文章管理</div>
                            <div class="menu_list">
                                <a class="item" th:href="@{/passage}">文章管理</a>
                                <a class="item" th:href="@{/main/passage_statistic}">统计信息</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content_box">
                    <label class="welcome" th:text="'欢迎，' + ${session.username}"></label>
                    <label class="welcome">Welcome to Patrick' site</label>
                    <div class="table_box" id="user_info">
                        <div class="search_box">
                            <input id="search" class="input_text" placeholder="请输入学生姓名">
                            <button class="button" id="search_btn" onclick="search()">搜索</button>
                        </div>
                        <table>
                        <tr>
                            <td>姓名</td>
                            <td>密码</td>
                            <td>邮箱</td>
                            <td>生日</td>
                            <td>余额</td>
                            <td>操作</td>
                        </tr>
                        <tr th:each="user, userstatus:${users}">
                            <td th:id="'username' + ${userstatus.index}" th:text="${user.username}"></td>
                            <td th:id="'password' + ${userstatus.index}" th:text="${user.password}"></td>
                            <td th:id="'email' + ${userstatus.index}" th:text="${user.email}"></td>
                            <td th:id="'birthday' + ${userstatus.index}" th:text="${#dates.format(user.birthday,'yyyy-MM-dd')}"></td>
                            <td th:id="'balance' + ${userstatus.index}" th:text="${user.balance}"></td>
                            <td class="operation_block">
                                <button class="edit_btn" th:onclick="'editPage(' + ${userstatus.index} +')'">编辑</button>
                                <button class="del_btn" th:onclick="'delRow(' + ${userstatus.index} +')'">删除</button>
                            </td>
                        </tr>
                        </table>
<!--                            <div id="box1_btn">-->
<!--                                <button class="button" id="former_btn" onclick="change_page(-1)">上一页</button>-->
<!--                                <button class="button" id="next_btn" onclick="change_page(1)">下一页</button>-->
<!--                            </div>-->
                        </div>
                </div>
            </div>
        </body>
        <footer>
            <small>2021 © <a href="https://github.com/Patrick-CH" title="Written by CYK">CYK</a> /
                <a href="https://github.com/Patrick-CH/webcompass" title="Fork me on GitHub">GitHub</a> /
            </small>
        </footer>
    </main>
</html>