<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新建文章</title>
    <!--media 指定当前屏幕，当最大宽度不超过650时引入这个css-->
    <link  th:href="@{/css/style_narrow.css}" type="text/css" rel="stylesheet" media="only screen and (max-width:650px)"/>
    <!--media 指定当前屏幕，当最小宽度超过650时引入这个css-->
    <link  th:href="@{/css/style_wide.css}" type="text/css" rel="stylesheet" media="only screen and (min-width:650px)"/>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
</head>
<main>
    <h3 class="title">新建文章</h3>
    <div class="box_reg">
        <form th:action="@{/new_passage}" method="post">
            <input id="title" name="title" required="" type="text" class="input_text" placeholder="标题">

            <input id="username" name="username" required="" type="text" class="input_text" th:value="${session.username}">

            <textarea id="content" name="content" required="" class="input_textArea"></textarea>

            <input id="submit" name="submit" type="submit" class="button" value="提交">
        </form>
    </div>
    <div id="reg_btn_box" class="box_btn">
        <button id="back_btn" class="btn" onclick="window.location.href='/web_demo1/'">
            返回登录界面
        </button>
    </div>
</main>
</html>